/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card{
    box-shadow: 0px 0px 10px grey;
}
.card-header{
    background-color: antiquewhite;
    padding:2px
    
}
.card-body{
    background-color: rgba(250, 235, 215, 0.237);

}

.row{
    margin-top: 3px;
    
}

.myButton2 {
    margin-left: 2px;
    margin-top: 5px;
    background-color:rgba(179, 227, 102, 0.642);
    box-shadow: 0px 0px 5px rgb(140, 205, 243);
    color: #00337C;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
