.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }


  .card{
    box-shadow: 0px 0px 10px grey;
    /* z-index: -2; */
    /* height: fit-content; */
}

.modal-body1{
padding:20px;
background-color: #f6f7c169;
}
.panel-heading{
    background-color: #8EA7E9;
    text-align: center;
    }
.panel-heading1{
    background-color: #d6ec97;
    text-align: center;
    }


.myCard{
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
}

.pro{
    margin: 0px 10%;
    color: #01ab97;
}
.pro img{
  
    width: 80px ;
    margin-bottom: 20px;
} 

ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}
ul li i{
    background: #ccc;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    padding: 5px;

}
ul li i::after{
content: '';
background: #ccc;
height: 5px;
width: 205px;
display: block;
position: absolute;
left: 0;
top: 110px;
/* z-index: -1; */
}


ul li:nth-child(3) i{
background-color: green;
}
ul li:nth-child(3) i::after{
background-color: green;
}
ul li:nth-child(1) i{
background-color: green;
}
ul li:nth-child(1) i::after{
background-color: green;
}
ul li:nth-child(2) i{
background-color: green;
}
ul li:nth-child(2) i::after{
background-color: green;
}



.panel{
    background-color: #cde99065;
    border-radius: 10px;
}





#inputss {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    box-shadow: 0px 0px 5px black;
  }
  input{
    font-size: 11px;
  }
  
  #inputss td, #inputss th {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
  }
  
  #inputss tr:nth-child(even){background-color: #f2f2f2;}
  
  #inputss tr:hover {background-color: #ddd;}
  
  #inputss th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    text-align: center;
    font-weight: 900;
    background-color: #1C315E;
    color: white;
   
  }
  .row{
    margin-top: 10px;
    margin-bottom: 10px;
  }


  i{
    width: 70px;
    height: 30px;
  }

  select{
    font-size: 12px;
  }
  .form-control{
    height: 30px;
    font-size: 12px;
  }
  span{
    height: 20px;
    font-size: 11px;
  }
  select{
    font-size: 8px;
  }

  .classA{
    background-color: #b4e4ff93;
  }
  .classB{
    background-color: #ffa595;
  }




  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }


  /* Style 7
   ----------------------------- */
.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:#f8f8f8;
  }
  